<!-- .navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container mt-6" style="border: 2px solid red;">

    <!-- .navbar-brand -->
    <div class="navbar-brand">
      <a id="logo" class="navbar-item" href="https://bulma.io">
        My Cookie Jar
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="cookie-jar-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <!-- /.navbar-brand -->

    <!-- .navbar-menu -->
    <div id="cookie-jar-navbar" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.navbar-menu -->
    
  </div>
</nav>
<!-- /.navbar -->

<!-- .section-hero -->
<div class="container">
  <section id="cookie-jar-hero" class="hero is-large my-6 is-info">    
	    <div class="hero-body" style="width: 960px;">
        <figure class="image is-1by1">
          <img src="../assets/images/david-goggins-hero.webp">
        </figure>
	    </div>
  </section>
</div>
<!-- /.section-hero -->