<!-- .navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container mt-6">

    <!-- .navbar-brand -->
    <div class="navbar-brand">
      <a id="logo" class="navbar-item" href="https://bulma.io">
        GOGGINS COOKIE JAR
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="cookie-jar-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <!-- /.navbar-brand -->

    <!-- .navbar-menu -->
    <div id="cookie-jar-navbar" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button sign-up-button">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.navbar-menu -->
    
  </div>
</nav>
<!-- /.navbar -->

<!-- .section-hero -->
<div class="container">
  <section id="cookie-jar-hero" class="hero my-6">
    <figure class="image container">
      <img src="../assets/images/david-goggins-hero.webp" style="border-radius: 10px;">
    </figure>
  </section>
</div>
<!-- /.section-hero -->

<!-- .section-description -->
<section class="section">
	<div id="cookie-jar-desc" class="container" style="border: 2px solid blue;">
    <div class="content" style="border: 2px solid red;">
      <h1>The Cookie Jar Method</h1>
      <p>Made famous by David Goggins, the cookie jar method is an attempt to overcome self-doubt and rationalizations for poor behavior by identifying past acomplishments (cookies) and gathering them into a container (cookie jar) you draw from when you're feeling low.</p>
    </div>
    <div class="image" style="border: 4px solid red;">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
    </div>
	</div>
</section>
<!-- /.section-description -->