.navbar {
  background-color: var(--secondary-brown);
}
.navbar-brand {
  font-family: cookie;
  font-size: 32px;
}
.navbar-item {
  color: var(--four-brown);
}

.navbar-start {
  margin-left: 30px;
}