/* Navigation Bar */
.navbar-brand {
  font-family: cookie;
  font-size: 45px;
}

#logo {
  color: #5b1a10;
}

.sign-up-button {
  color: #fff;
  background-color: #5b1a10;
  border-color: transparent;
}
.sign-up-button:hover {
  background-color: var(--secondary-brown);
  /* color: grey; */
}

/* Hero Section */
#cookie-jar-hero {
 display: flex;
 flex-direction: row;
 align-items: center;
}

/* Cookie Jar Description Section */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#cookie-jar-desc {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* #cookie-jar-desc figure img{
  float: right;
} */


#cookie-jar-desc-content {
  display: flex;
  align-items: center;
  width: 50%;
}

.medium-image {
  width: 500px;
}