<!-- .navbar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container mt-6">

    <!-- .navbar-brand -->
    <div class="navbar-brand">
      <a id="logo" class="navbar-item" href="https://bulma.io">
        GOGGINS COOKIE JAR
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="cookie-jar-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <!-- /.navbar-brand -->

    <!-- .navbar-menu -->
    <div id="cookie-jar-navbar" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button sign-up-button">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.navbar-menu -->

  </div>
</nav>
<!-- /.navbar -->

<!-- .section-hero -->
<div class="container">
  <section id="cookie-jar-hero" class="hero my-6">
    <figure class="image container">
      <img class="image-border" src="../assets/images/david-goggins-hero.webp">
    </figure>
  </section>
</div>
<!-- /.section-hero -->

<!-- .section-description -->
<section class="section">
  <div id="cookie-jar-desc" class="container grid">
    <div id="cookie-jar-desc-content" class="content is-medium">
      <div>
        <h1>The Cookie Jar Method</h1>
        <p>Made famous by David Goggins, the cookie jar method helps you overcome self-doubt by identifying past
          acomplishments (cookies) and gathering them into a container (cookie jar) you draw from when you're feeling
          low.</p>
      </div>
    </div>
    <figure class="image">
      <img class="image-border medium-image" src="../assets/images/Goggins_Log.webp">
    </figure>
  </div>
</section>
<!-- /.section-description -->

<!-- .section-how-it-works -->
<section class="section m-6">
  <div id="cookie-jar-how-it-works" class="container grid">
    <div class="image">
      <figure class="image">
        <img class="image-border medium-image" src="../assets/images/Goggins_Log.webp">
      </figure>
    </div>
    <div id="cookie-jar-how-content" class="content is-medium">
      <div>
        <h1>The Cookie Jar Method</h1>
        <p>Made famous by David Goggins, the cookie jar method helps you overcome self-doubt by identifying past
          acomplishments (cookies) and gathering them into a container (cookie jar) you draw from when you're feeling
          low.</p>
      </div>
    </div>
  </div>
</section>
<!-- /.section-how-it-works -->